.banner-swiper {
  &:hover {
    .swiper-button-prev {
      transform: translateX(50%);
      opacity: 1;
    }
    .swiper-button-next {
      transform: translateX(-50%);
      opacity: 1;
    }
  }
  .swiper-slide {
      background-repeat: no-repeat;
      background-size: cover;
    
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    bottom: 20px;
    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background: $green;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    background: $white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
      color 0.3s ease-in-out, background 0.3s ease-in-out;
    &:hover {
      background: $green;
      color: $white;
    }
    &::after {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .swiper-button-prev {
    transform: translateX(-100%);
    left: 0;
  }
  .swiper-button-next {
    transform: translateX(100%);
    right: 0;
  }
  .wrap {
    height: 500px;
    display: flex;
    padding: 50px 0 100px;
    // position: relative;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (min-width: $md) {
      width: 50%;
    }
    h2 {
      font-family: $font-lato;
      font-size: 20px;
      font-weight: 700;
      color: $gray;
    }
    p {
      font-family: $font-lato;
      font-size: 14px;
      font-weight: 400;
      color: $gray;
    }
    a {
      font-family: $font-lato;
      font-size: 14px;
      font-weight: 700;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      border: none;
      background: $green;
      width: 150px;
      height: 50px;
      border-radius: 5px;
      margin-top: auto;
      transition: background 0.3s ease-in-out;
      &:hover {
        background: $dark-green;
      }
    }
  }
  .img {
    display: none;
    @media (min-width: $md) {
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
