section.banner-swiper.swiper
    .swiper-wrapper
        .swiper-slide(style="background-image: url('./img/banners/banner1.jpg')")
            .container
                .wrap
                    .content
                        h2 Series OR-PT
                        p Модель для раскроя и обработки труб круглого, квадратного и других профилей
                        a(href="#") Подробнее
                    .img
                        img(src="./img/slider/slider1.jpg", alt="")
        .swiper-slide(style="background-image: url('./img/banners/banner2.jpg')")
            .container
                .wrap
                    .content
                        h2 Series OR-F
                        p Станок тяжелой серии «PТ» с литой станиной, автоматической сменой столов в исполнении с защитной кабиной и труборезным модулем.
                        a(href="#") Подробнее
                    .img
                        img(src="./img/slider/slider2.jpg", alt="")
        .swiper-slide(style="background-image: url('./img/banners/banner3.jpg')")
            .container
                .wrap
                    .content
                        h2 Series OR-PT
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, id tempore. Qui, doloribus. Hic vel reiciendis, labore aperiam quasi odio?
                        a(href="#") Подробнее
                    .img
                        img(src="./img/slider/slider3.png", alt="")
        .swiper-slide(style="background-image: url('./img/banners/banner4.jpg')")            
            .container
                .wrap
                    .content
                        h2 Series OR-PT
                        p Пожалуй самый надежный, и практичный станок в своем классе.
                        a(href="#") Подробнее
                    .img
                        img(src="./img/slider/slider2.jpg", alt="")
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next