footer.footer
            .footer__top
                .container
                    .footer__top-row
                        include ./logo.pug
                        .footer__catalog
                            h3 Каталог станков
                            ul
                                li
                                    a(href="#") FM лазерные станки для резки листа
                                li
                                    a(href="#") FH лазерные станки тяжелой серии
                                li
                                    a(href="#") FT комбинированные лазерные станки
                                li
                                    a(href="#") EH лазерные станки со сменным столом
                                li
                                    a(href="#") ET комбинированные лазеры со сменным столом
                                li
                                    a(href="#") PG лазерные станки с защитной кабиной
                                li
                                    a(href="#") PT комбинированные лазеры с защитной кабиной
                                li
                                    a(href="#") H лазерные станки высокой мощности
                                li
                                    a(href="#") S лазерный станок с маленьким полем
                                li
                                    a(href="#") T лазерный станок для резки труб
                                li
                                    a(href="#") HW ручная лазерная сварка
                                li
                                    a(href="#") OYD - станки для производства масок
                        .footer__buyers
                            h3 Покупателям
                            ul
                                li
                                    a(href="#") Новости
                                li
                                    a(href="#") О нас
                                li
                                    a(href="#") Контакты
                        .footer__contacts
                            div
                                div
                                    span Отдел продаж:
                                    a(href="tel:+375297600256")
                                        i.fa-solid.fa-phone
                                        | +375 (29) 7-600-256
                                div
                                    span Отдел сервиса:
                                    a(href="tel:+375295674433")
                                        i.fa-solid.fa-phone
                                        | +375 (29) 567-44-33
                            button(type='button').back-call Заказать звонок
                            a(href="mailto:info@mail.ru")
                                i.fa-solid.fa-envelope
                                | info@mail.ru
                            p
                                i.fa-solid.fa-location-dot
                                | РБ, г. Минск, улица Авангардная, 48А-1H
            .footer__bottom
                .container
                    .footer__bottom-row
                            p ООО "ПКП-Техно" Официальный дилер в Беларуси
                            p Copyright® 2024 OREE