.overlay
    .modal-call
        button(type="button").close
            i.fa-solid.fa-xmark
        p Обратный звонок
        label(for="name") Имя
        input(type="name" id="name" name="name" placeholder="")
        label(for="tel") Телефон
        input(type="text" id="tel" name="tel" placeholder="")
        button(type="button").submit Заказать звонок
    .modal-login
        button(type="button").close
            i.fa-solid.fa-xmark
        label(for="mail") Email
        input(type="mail" id="mail" name="mail" placeholder="")
        label(for="password") Пароль
        input(type="password" id="password" name="password" placeholder="")
        button(type="button").submit Вход