section.news-list
    .container
        .news-list__row
            .title
                h2 Новости
                a(href="./catalog.html") все новости
            ul
                li
                    a(href="#")
                        img(src="./img/news/img.jpg", alt="")
                        .content
                            h3 Покупка оборудования в лизинг: индивидуальный подход
                            p 10 Января 2024
                li
                    a(href="#")
                        img(src="./img/news/img.jpg", alt="")
                        .content
                            h3 Пуско-наладка и шеф-монтаж от профессионалов
                            p 10 Января 2024
                li
                    a(href="#")
                        img(src="./img/news/img.jpg", alt="")
                        .content
                            h3 Комплект расходных материалов в подарок
                            p 10 Января 2024
                li
                    a(href="#")
                        img(src="./img/news/img.jpg", alt="")
                        .content
                            h3 Поздравляем с Днем Машиностроителя
                            p 10 Января 2024
