section.partners
    .container
        .partners__row
            h2 Партнеры        
            .swiper.partners-swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./img/slider/slider2.jpg", alt="")
                    .swiper-slide
                        img(src="./img/slider/slider2.jpg", alt="")
                    .swiper-slide
                        img(src="./img/slider/slider2.jpg", alt="")
                    .swiper-slide
                        img(src="./img/slider/slider2.jpg", alt="")
                    .swiper-slide
                        img(src="./img/slider/slider2.jpg", alt="")
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next