section.products-list
    .container
        .products-list__row
            .title
                h2 Каталог станков OREE LASER
                a(href="./catalog.html") весь каталог
            ul
                li
                    a(href="./products.html")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 FM лазерные станки для резки листа
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 FH лазерные станки тяжелой серии
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 FT комбинированные лазерные станки
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 EH лазерные станки со сменным столом
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 ET комбинированные лазеры со сменным столом
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 PG лазерные станки с защитной кабиной
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 PT комбинированные лазеры с защитной кабиной
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 H лазерные станки высокой мощности
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 S лазерный станок с маленьким полем
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 T лазерный станок для резки труб
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 HW ручная лазерная сварка
                li
                    a(href="#")
                        img(src="./img/catalog/img.jpg", alt="")
                        h3 OYD - станки для производства масок
