section.reviews
    .container
        .reviews__row
            h2 Отзывы
            .swiper.reviews-swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                    .swiper-slide
                        img(src="./img/reviews/img.png", alt="")
                        h3 Александр
                            br
                            | Владимирович
                        h5 Oree Laser
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, consequuntur!
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next