doctype html
html(lang="en")
    head
        title="Oree"
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name='description', content="........................")
        meta(name='keywords', content=".........................")
        meta(name="author", content=".........................")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png")
        link(rel="webmanifest" href="./webmanifest")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css')
        link(rel='stylesheet', href='./main.css')
    body
        .wrapper
            include ../components/header.pug
            main.main
                section.products
                    .container
                        .products__row
                            .breadcrumb
                                a(href="./index.html") Главная
                                a(href="./catalog.html") Каталог станков
                                p FM лазерные станки для резки листа
                            h2 FM лазерные станки для резки листа
                            select(name="")
                                option(value="") Выберите популярности
                                option(value="") Выберите алфавиту
                                option(value="") Выберите дате добавления
                            ul
                                li
                                    a(href="./product.html")
                                        img(src="./img/catalog/img.jpg", alt="")
                                        h3 Оптоволоконный лазерный станок с ЧПУ OR-FM 3015А
                                li
                                    a(href="#")
                                        img(src="./img/catalog/img.jpg", alt="")
                                        h3 Оптоволоконный лазерный станок с ЧПУ OR-FM 4015А
                                li
                                    a(href="#")
                                        img(src="./img/catalog/img.jpg", alt="")
                                        h3 Оптоволоконный лазерный станок с ЧПУ OR-FM 6015А
                                li
                                    a(href="#")
                                        img(src="./img/catalog/img.jpg", alt="")
                                        h3 Оптоволоконный лазерный станок с ЧПУ OR-FM 6020А
                            p Оборудование предназначено для автоматического раскроя металла с использованием иттербиевого источника лазерного излучения.
                            p Для установок характерны:
                            ol
                                li высокая точность получаемых размеров
                                li значительная скорость резания
                                li низкое энергопотребление
                                li относительно низкая цена расходных материалов
                            p Современные оптоволоконные лазерные станки с ЧПУ позволяют:
                            ol
                                li оптимизировать карты раскроя материала
                                li увеличить производительность предприятия и себестоимость выпускаемой продукции
                                li повысить качество конечного продукта
                            p Высокая надежность компонентов и источника лазерного излучения позволяет эксплуатировать оборудование в многосменном режиме работы.
                            h3 Особенности конструкций оптоволоконных лазерных станков
                            p При производстве станков используются современные комплектующие мировых производителей, а также огромное внимание уделяется качество сборки. Мы представляем станки мирового производителя оборудования для лазерной резки листового металла OREE LASER, официальным представителем которого в РФ является компания «OREE LASER».

                            p Станины установок лазерной резки — это высокотехнологичное решение, спроектированное под определенные задачи, которые способно выполнять представленное оборудование. Цельносварные станины - проходят специальную термическую обработку, после которой они выдерживаются для снятия внутреннего напряжения. Благодаря сбалансированным комплектациям, завод обеспечивает выпуск широкого ассортимента, в серийном режиме, что позволяет сохранить уровень доступности для любого предприятия, как для небольших цехов, так и для крупных заводов и фабрик.

                            p Лазерные станки нового поколения характеризуют:
                            ol
                                li высокая скорость холостых перемещений и резки
                                li мощные сервоприводы
                                li высокоэффективная система ЧПУ
                                li новейшие системы контроля и самодиагностики
                                li точность при непрерывной работе "24/7" без сбоев и перегревов
                                li наличие современных систем защиты
                                li энергоэффективность
                                li доступность
                            p В лазерах могут быть использованы резонаторы от 1000W до 12000W и более. Для обработки труб круглого или квадратного профиля, возможно опционально укомплектовать дополнительным труборезным модулем, что в свою очередь расширит ассортимент выпускаемой продукции и увеличит возможности производства. Один оператор может управлять двумя станками одновременно. Все действия контролируются программой CypCut, а данные выводятся на монитор, с последующим сохранением и выводом отчетов.

                            p В установках предусмотрены:
                            ol
                                li автоматическая система контроля положения лазерной головки
                                li определение положения листа по трем точкам
                                li автоматическое поддержание фокуса
                                li раскрой металла на лету, в режиме FlyCut
                                p Упрощенная система работы в режиме "нестинг" возможна как в стандартном исполнении, так и при покупке дополнительного ПО. Все выше перечисленные особенности, позволяют резать металл с высоким качеством, производительностью, и низкой себестоимостью выпускаемой продукции.

                            h3 Где заказать оптоволоконный лазерный станок
                            p Купите лазерные станки от завода«OREE LASER» у официального представителя по доступной цене, чтобы автоматизировать, обезопасить и оптимизировать производство. Как прямой поставщик, мы предоставляем не только гарантийные обязательства, но и послепродажный сервис — комплексный инжиниринг, пусконаладочные работы, профилактическое обслуживание при необходимости. Широкий ассортимент расходных материалов, и сопутствующего оборудования мы предложим Вам по доступным ценам.
            include ../components/footer.pug
            include ../components/scrollTop.pug
            include ../components/modals.pug
        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js', type='text/javascript')
        script(src='./main.js', type='text/javascript')
