//fonts
$font-lato: 'Lato', sans-serif;

//colors
$green: #008068;
$dark-green: #006753;
$white: #fff;
$black: #000;
$light-gray: #999;
$gray: #333;
$white-1: #f1f1f1;

//breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
